# Airflow
AIRFLOW_URL=http://localhost:8080
AIRFLOW_USER=airflow
AIRFLOW_PASS=airflow

# AWS
S3_BUCKET=reddit-raw-data-your-name
REDSHIFT_HOST=your-cluster.abc.us-east-1.redshift.amazonaws.com

# Reddit
REDDIT_CLIENT_ID=your_client_id
REDDIT_SECRET=your_client_secret
TARGET_SUBREDDIT=dataengineering
POST_LIMIT=100
